<% fillings = ["Al Pastor", "Shrimp", "Carne Asada", "Carnitas", "Veggies"] %>

<p>Welcome to the Taccos Lokos site! Here are all the types of tacos you can order:</p>
  <ul>
    <% for filling in fillings %>
      <li> <%= filling%> </li>
    <% end %>
  </ul>